// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.containerf {
    display: flex;
}

.containerh {
    width: 350px;
    background-color: $prueba;
}

.containerg {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.containerq {
    width: 200px;
}

.flex-cont {
    display: flex;
    justify-content: space-between;
}

.image-product {
    max-width: 100%;
    max-height: 100%;
    display: block;
}
