// -----------------------------------------------------------------------------
// This file contains all styles related to the button components.
// -----------------------------------------------------------------------------

.button {
    border-radius: 5px;
    height: 50px;
    width: 100%;
    transition: 0.2s;

    &--blue {
        color: $primary-color;
        background-color: $secondary-color;
        border-color: transparent;

        &:hover {
            background-color: $hover-color;
        }
    }

    &--grey {
        color: $tertiary-color;
        background-color: transparent;
        border-color: $tertiary-color;

        &:hover {
            filter: $primary-filter;
        }
    }

    &--transparent {
        background-color: transparent;
        border-color: transparent;
    }

    &:hover {
        cursor: pointer;
        transition: 0.2s;
    }
}
