// -----------------------------------------------------------------------------
// This file contains styles that are specific to the cart page.
// -----------------------------------------------------------------------------

.cart {
    display: none;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr auto auto;
    grid-gap: 40px;

    padding: 0 10%;

    @media screen and (max-width: 1000px) {
        grid-template-columns: auto;
        grid-template-rows: 1fr auto auto;
    }

    &--enable {
        display: grid;
    }

    &__header {
        grid-column: 1 / span 2;
        grid-row: 1;

        &-products {
            color: $tertiary-color;
        }
    }

    &__product {
        &-list {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

        &-spinner {
            display: block;
            width: 100%;

            &--disable {
                display: none;
            }
        }
    }

    &__summary {
        display: flex;
        flex-direction: column;

        height: 300px;
        padding: 20px;
        position: sticky;
        top: 50px;

        border: 1px solid $border-color;
        border-radius: 3px;

        &-price {
            display: flex;
            align-items: center;
            justify-content: space-between;

            border-top: 1px solid $border-color;
        }

        @media screen and (max-width: 1000px) {
            grid-column: 1;
            grid-row: 3;
        }
    }
}

.product-item {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 15px;
    border: 1px solid $border-color;
    border-radius: 3px;

    &__image {
        &-product {
            display: block;
            width: 200px;
            height: 225px;
            object-fit: cover;

            &-link {
                grid-column: 1;
                grid-row: 1 / span 2;
            }
        }

        &-trash {
            width: 24px;
            height: 24px;
            margin: 5px;
            grid-column: 3;
            grid-row: 1;
            transition: 0.3s;

            &:hover {
                transition: 0.3s;
                cursor: pointer;
                filter: $incorrect-filter;
            }
        }
    }

    &__name-link {
        grid-column: 2;
        grid-row: 1;
    }

    &__price {
        grid-column: 2;
        grid-row: 2;
    }
}
