// -----------------------------------------------------------------------------
// This file contains styles that are specific to the profile page.
// -----------------------------------------------------------------------------

.editor {
    margin: 50px 10%;

    & section {
        border-top: 1px solid $border-color;
        padding: 20px 0px;
    }

    &__password {
        &-content {
            display: grid;
            grid-template-columns: repeat(3, minmax(25px, 1fr));
            grid-template-rows: repeat(3, minmax(25px, 1fr));
            grid-column-gap: 20px;
        }

        &-save {
            grid-column: 3;
        }
    }

    &__state {
        &-content {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-column-gap: 20px;
        }

        &-save {
            grid-column: 3;
        }

        &-item {
            justify-self: center;
        }

        &-enable {
            grid-column: 2/4;
        }
    }

    &__shop {
        &-content {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-column-gap: 15%;
        }

        &-save {
            grid-column: 2;
        }
    }

    &__data {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: min-content 1fr min-content;
        grid-column-gap: 15%;

        @media screen and (max-width: 700px) {
            display: block;
        }

        &-logout {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 10px 0px;
            padding: 10px;
            height: 40px;
            min-width: 130px;
            justify-self: end;
            border: none;
            border-radius: 2px;
            outline: 1px solid $incorrect-color;
            color: $incorrect-color !important;
            background-color: transparent;
            cursor: pointer;
            transition: 0.1s;

            &:hover {
                background-color: $incorrect-color;
                color: white !important;
                outline-color: $incorrect-color;
            }
        }

        &__name {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 2fr;
        }

        &__logo {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 1fr 2fr;

            &-label {
                grid-column: 1 / span 2;
            }

            &-image {
                width: 100px;
                height: 100px;
            }

            &-upload {
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                align-self: center;
                cursor: pointer;

                &-image {
                    width: 20px;
                    height: 20px;
                }

                &-label {
                    cursor: pointer;
                }
            }

            &-trash {
                width: 24px;
                height: 24px;
                margin: 5px;
                transition: 0.3s;

                &:hover {
                    transition: 0.3s;
                    cursor: pointer;
                    filter: $incorrect-filter;
                }
            }
        }

        &-save {
            grid-column: 2;
        }

        &-details {
            grid-column: 3;
        }
    }

    &__input {
        height: 40px;
        border: none;
        border-radius: 2px;
        font-size: 16px;
        padding: 10px 15px;
        outline: 1px solid rgb(205, 205, 205);
        background-color: rgb(233, 233, 233);
        color: $tertiary-color;
        transition: 0.1s;

        &:focus {
            background-color: transparent;
            outline-color: rgb(122, 122, 122);
        }
    }

    &__save {
        margin: 10px 0px;
        padding: 10px;
        min-width: 130px;
        height: 40px;
        justify-self: end;
        border: none;
        border-radius: 2px;
        outline: 1px solid $secondary-color;
        color: $secondary-color;
        background-color: transparent;
        cursor: pointer;
        transition: 0.1s;

        &--accept {
            color: $correct-color;
            outline: 1px solid $correct-color;

            &:hover {
                background-color: $correct-color !important;
            }
        }

        &--deny {
            color: $incorrect-color;
            outline: 1px solid $incorrect-color;

            &:hover {
                background-color: $incorrect-color !important;
            }
        }

        &:hover {
            background-color: $secondary-color;
            color: white;
        }
    }
}

// input[type="file"] {
//     display: none;
// }

.order {
    border: 1px solid $border-color;
    border-radius: 5px;
    padding: 30px;
    margin-bottom: 40px;

    &__vendor {
        margin: 40px 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media screen and (max-width: 900px) {
            flex-direction: column;
        }

        &__product {
            display: flex;
            margin: 20px 0px;

            &-image {
                width: 100px;
                height: 100px;
                object-fit: cover;
                margin-right: 10px;
            }
        }

        &__separator {
            border: 1px solid $border-color;
        }
    }
}
