// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.home {
    display: flex;
    flex: 1;
}

.categories {
    width: 350px;
    background-color: $complementary-color;

    &__path {
        margin: 10px 0px 0px 10px;
    }

    &__content {
        position: sticky;
        top: 0;
    }

    &__title {
        display: flex;
        justify-content: center;
    }

    &__list {
        display: flex;
        flex-direction: column;
    }

    &__icon {
        height: 25%;
    }

    @media screen and (max-width: 900px) {
        display: none;
    }
}

.category {
    display: flex;
    justify-content: space-around;
    align-content: center;
    height: 70px;
    transition: 0.2s;
    border-radius: 5px;

    &__content {
        align-self: center;
    }

    &__text {
        min-width: 100px;
        text-decoration: none !important;
    }

    &:hover {
        background-color: $hover3-color;
        transition: 0.2s;
        cursor: pointer;
    }
}

.products-parent {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.products-title {
    display: flex;
    justify-content: center;
    align-items: center;

    &__image {
        height: 40px;
        margin-right: 10px;
    }
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 50px;
    flex: 1;
    justify-items: center;
    align-items: center;
}

.product-element {
    cursor: pointer;

    &__info {
        display: grid;
        grid-template-columns: 1fr auto;
        grid-template-rows: auto auto;
        align-items: center;
        margin-top: 10px;

        &-name {
            margin: 0px;
            width: 160px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        &-category {
            color: $tertiary-color;
            margin: 0px;
            font-size: 0.9rem;
            width: 160px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    &__image {
        display: block;
        width: 200px;
        height: 225px;
        object-fit: cover;

        &--protanopia {
            filter: contrast(1.2) brightness(0.9) saturate(1.1) hue-rotate(45deg);
        }

        &--deuteranopia {
            filter: contrast(1.2) brightness(0.9) saturate(1.1) hue-rotate(-45deg);
        }

        &--acromatopsia {
            filter: contrast(1.5) brightness(1.2);
        }

        &--tritanopia {
            filter: contrast(1.2) brightness(0.9) saturate(1.1) hue-rotate(-75deg);
        }
    }

    &__cart {
        width: 25px;
        height: 25px;
    }
}

.products-total {
    display: flex;
    justify-content: end;
    margin-right: 20px;

    &__number {
        color: $tertiary-color;
        font-size: 0.9rem;
    }
}
