// -----------------------------------------------------------------------------
// This file contains styles that are specific to the landing page.
// -----------------------------------------------------------------------------

.introduction {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    padding: 100px;
    background-color: lightblue !important;
    
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.5);
    background-position: center center;

    &__title {
        align-self: center;
        color: $primary-color;
        font-size: 6rem;
        background-color: rgba(0, 0, 0, 1);
        border-radius: 10px;
        padding: 0px 10px;
        color: $secondary-color;
    }

    &__text {
        color: $primary-color;
        font-size: 1.5rem;
    }

    &__button {
        width: fit-content;
        align-self: center;
        padding: 0px 15px;
        display: inline-block;
        line-height: 50px;
        color: $primary-color !important;
        text-decoration: none !important;
    }
}

.tag {
    margin: 100px 50px 0px 50px;

    @media screen and (max-width: 700px) {
        margin: 50px 5px 0px 5px;
    }

    &__title-container {
        margin-bottom: 10px;
    }

    &__title {
        font-size: 1.5rem;
        font-weight: 500;
        cursor: pointer;
    }

    &__products {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 200px));
        gap: 50px;
        align-items: center;

        @media screen and (max-width: 700px) {
            gap: 10px;
            justify-content: center;
        }
    }
}

.product-landing {
    cursor: pointer;
    position: relative;
    left: 0;
    transition: left 0.5s ease-in-out;
}
