// -----------------------------------------------------------------------------
// This file contains styles that are specific to the login page.
// -----------------------------------------------------------------------------
.form-login-register{
    margin-top: 150px;
    text-align: center;
}

.title-login-register{
    
    color: $secondary-color;
    font-size: 40px;
}

.login-register-link{
    
    color: $secondary-color;
    font-weight: 600;
}

