// -----------------------------------------------------------------------------
// This file contains styles that are specific to the login page.
// -----------------------------------------------------------------------------
.form-login-register{
    background: $primary-color;
    margin-top: 150px;
}

.title-login-register{
    text-align: center;
    color: $secondary-color;
    font-size: 40px;
}

.input-login-register{
    font-size: 20px;
    width: 82%;
    padding: 10px;
    border: none;
}