// -----------------------------------------------------------------------------
// This file contains styles that are specific to the product page.
// -----------------------------------------------------------------------------´

.buttons {
    display: flex;
    gap: 30px;
}

.content {
    &__category,
    &__seller {
        font-size: 20px;
        color: $tertiary-color;
    }

    &__currency {
        font-size: 3.3rem;
    }

    &__title {
        margin: 0px;
    }

    &__price {
        font-size: 70px;
        font-weight: bold;
        color: $secondary-color;
    }

    &__add-cart {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        transition: 0.2s;

        img {
            width: 25px;
            height: 25px;
        }
    }
}

.details {
    grid-column: 2;

    &__description {
        font-size: 15px;
        word-wrap: break-word;
        word-break: break-all;
        color: $tertiary-color;
    }

    @media screen and (max-width: 1000px) {
        grid-column: 1;
    }
}

.image {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    grid-row: 1 / span 2;

    &__slider-image {
        width: 500px;
        height: 400px;
        object-fit: cover;
        transition: 0.2s;
    }

    &__slider {
        position: sticky;
        top: 40px;

        &-buttons {
            display: flex;
            justify-content: space-between;
            margin-top: 10px;
        }

        &-left,
        &-right {
            padding: 5px;
            border-radius: 100%;
            cursor: pointer;

            &:hover {
                background-color: rgba(0, 0, 0, 0.1);
            }
        }

        &-left {
            transform: rotate(180deg);
        }
    }

    @media screen and (max-width: 1000px) {
        grid-row: 1 / span 1;
        grid-column: 1 / span 2;
    }
}

.product {
    display: grid;
    grid-template-columns: 4fr 5fr;
    grid-template-rows: repeat(2, 1fr);
    column-gap: 40px;
    row-gap: 80px;
    padding: 0 9%;
    margin-top: 40px;

    @media screen and (max-width: 1000px) {
        grid-template-columns: 1fr;
    }
}
