// -----------------------------------------------------------------------------
// This file contains styles that are specific to the product page.
// -----------------------------------------------------------------------------´

.product {
    flex: 1;
}

.price{
    font-weight: bold;
    color: $secondary-color;
}

img {
    width:  300px;
    height: 300px;
    object-fit: cover;
}