@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
}

/**
   * Make all elements from the DOM inherit from the parent box-sizing
   * Since `*` has a specificity of 0, it does not override the `html` value
   * making all elements inheriting from the root box-sizing value
   * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
   */
*,
*::before,
*::after {
  box-sizing: inherit;
}

*::selection {
  background-color: #2596BE;
  color: #fff;
}

/**
   * Basic styles for links
   */
a {
  text-decoration: none !important;
  color: inherit;
}
a:hover, a:active, a:focus, a:focus-within {
  text-decoration: underline;
}

a:visited {
  color: inherit;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

.chosen-cart {
  filter: invert(46%) sepia(100%) saturate(365%) hue-rotate(149deg) brightness(91%) contrast(91%);
}

/**
 * Clear inner floats
 */
.clearfix::after {
  clear: both;
  content: "";
  display: table;
}

/**
   * Main content containers
   * 1. Make the container full-width with a maximum width
   * 2. Center it in the viewport
   * 3. Leave some space on the edges, especially valuable on small screens
   */
.container {
  max-width: 1180px; /* 1 */
  margin-left: auto; /* 2 */
  margin-right: auto; /* 2 */
  padding-left: 20px; /* 3 */
  padding-right: 20px; /* 3 */
  width: 100%; /* 1 */
}

/**
   * Hide text while making it readable for screen readers
   * 1. Needed in WebKit-based browsers because of an implementation bug;
   *    See: https://code.google.com/p/chromium/issues/detail?id=457146
   */
.hide-text {
  overflow: hidden;
  padding: 0; /* 1 */
  text-indent: 101%;
  white-space: nowrap;
}

/**
   * Hide element while making it readable for screen readers
   * Shamelessly borrowed from HTML5Boilerplate:
   * https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css#L119-L133
   */
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
========================================================================== */
/**
* 1. Correct the line height in all browsers.
* 2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
========================================================================== */
/**
* Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
* Render the `main` element consistently in IE.
*/
main {
  display: block;
}

/**
* Correct the font size and margin on `h1` elements within `section` and
* `article` contexts in Chrome, Firefox, and Safari.
*/
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
========================================================================== */
/**
* 1. Add the correct box sizing in Firefox.
* 2. Show the overflow in Edge and IE.
*/
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
* 1. Correct the inheritance and scaling of font size in all browsers.
* 2. Correct the odd `em` font sizing in all browsers.
*/
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
========================================================================== */
/**
* Remove the gray background on active links in IE 10.
*/
a {
  background-color: transparent;
}

/**
* 1. Remove the bottom border in Chrome 57-
* 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
*/
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
* Add the correct font weight in Chrome, Edge, and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
* 1. Correct the inheritance and scaling of font size in all browsers.
* 2. Correct the odd `em` font sizing in all browsers.
*/
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
* Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
* Prevent `sub` and `sup` elements from affecting the line height in
* all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
========================================================================== */
/**
* Remove the border on images inside links in IE 10.
*/
img {
  border-style: none;
}

/* Forms
========================================================================== */
/**
* 1. Change the font styles in all browsers.
* 2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
* Show the overflow in IE.
* 1. Show the overflow in Edge.
*/
button,
input {
  /* 1 */
  overflow: visible;
}

/**
* Remove the inheritance of text transform in Edge, Firefox, and IE.
* 1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
* Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
* Remove the inner border and padding in Firefox.
*/
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
* Restore the focus styles unset by the previous rule.
*/
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
* Correct the padding in Firefox.
*/
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
* 1. Correct the text wrapping in Edge and IE.
* 2. Correct the color inheritance from `fieldset` elements in IE.
* 3. Remove the padding so developers are not caught out when they zero out
*    `fieldset` elements in all browsers.
*/
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
* Add the correct vertical alignment in Chrome, Firefox, and Opera.
*/
progress {
  vertical-align: baseline;
}

/**
* Remove the default vertical scrollbar in IE 10+.
*/
textarea {
  overflow: auto;
}

/**
* 1. Add the correct box sizing in IE 10.
* 2. Remove the padding in IE 10.
*/
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
* Correct the cursor style of increment and decrement buttons in Chrome.
*/
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
* 1. Correct the odd appearance in Chrome and Safari.
* 2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
* Remove the inner padding in Chrome and Safari on macOS.
*/
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
* 1. Correct the inability to style clickable types in iOS and Safari.
* 2. Change font properties to `inherit` in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
========================================================================== */
/*
* Add the correct display in Edge, IE 10+, and Firefox.
*/
details {
  display: block;
}

/*
* Add the correct display in all browsers.
*/
summary {
  display: list-item;
}

/* Misc
========================================================================== */
/**
* Add the correct display in IE 10+.
*/
template {
  display: none;
}

/**
* Add the correct display in IE 10.
*/
[hidden] {
  display: none;
}

html {
  font-size: 16px;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

p {
  font-size: 1rem;
}

body {
  font: normal 100% "Poppins", Arial, sans-serif;
}

h1,
h2,
h3 {
  font-weight: 500;
}

.header {
  height: 70px;
  box-shadow: 0 4px 10px -4px rgba(30, 30, 30, 0.5);
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: height 0.3s, opacity 0.3s;
}
.header--hidden {
  height: 0;
  opacity: 0;
}
.header__logo {
  width: auto;
  height: 80%;
  margin-left: 10px;
}
@media screen and (max-width: 900px) {
  .header__logo {
    display: none;
  }
}
.header__logo--mobile {
  display: none;
  height: 70%;
}
@media screen and (max-width: 900px) {
  .header__logo--mobile {
    display: block;
  }
}

.items {
  display: flex;
  height: 100%;
  align-items: center;
  margin-right: 20px;
}

.item {
  height: 35px;
  width: 35px;
  margin: 0 20px;
  object-fit: cover;
}

.search-bar {
  background-color: #F0F0F0;
  border: none;
  border-radius: 25px;
  height: 40px;
  padding: 20px;
}
@media screen and (max-width: 600px) {
  .search-bar {
    width: 170px;
  }
}

.item-link {
  display: flex;
  align-items: center;
  height: 100%;
}
.item-link__notification {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  width: 15px;
  height: 15px;
  background-color: #d2170e;
  position: relative;
  left: -10px;
  top: -10px;
  font-size: 0.7rem;
  color: #FFFFFF;
}
.item-link__notification--profile {
  left: 122px;
  top: -57px;
}

.stored-products {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2596BE;
  border-radius: 100%;
  width: 15px;
  height: 15px;
  position: relative;
  right: 30px;
  bottom: 10px;
}
.stored-products__number {
  color: #FFFFFF;
  font-size: 0.7rem;
  font-weight: 500;
}

footer {
  width: 100%;
  height: 150px;
  background-color: #2D3339;
}

.button {
  border-radius: 5px;
  height: 50px;
  width: 100%;
  transition: 0.2s;
  text-align: center;
}
.button--blue {
  color: #FFFFFF;
  background-color: #2596BE;
  border-color: transparent;
}
.button--blue:hover {
  background-color: #0a6c8f;
}
.button--grey {
  color: #828282;
  background-color: transparent;
  border-color: #828282;
}
.button--transparent {
  background-color: transparent;
  border-color: transparent;
}
.button:hover {
  cursor: pointer;
  transition: 0.2s;
}

.chat-button {
  background-color: #2596BE;
  border-radius: 25px;
  height: 40px;
  width: 40px;
  border: none;
  margin-left: 20px;
}
.chat-button__image {
  position: relative;
  top: -30px;
  left: 31px;
  height: 20px;
  width: 20px;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 20px;
  height: 55px;
  margin: 40px 0px;
}
.pagination__number {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  color: #828282;
  border: 2px solid #828282;
  min-width: 55px;
  min-height: 55px;
}
@media screen and (max-width: 700px) {
  .pagination__number {
    min-width: 35px;
  }
}
.pagination__number--active {
  color: #FFFFFF;
  background-color: #2596BE;
  border: 0px;
}

.sort {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 30px;
  border-top: 1px solid #b5b5b5;
  border-bottom: 1px solid #b5b5b5;
  margin-left: 20px;
  margin-right: 20px;
}
.sort__link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #b5b5b5;
  padding: 5px;
  margin: 15px 20px;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media screen and (max-width: 700px) {
  .sort__link {
    font-size: 0.7rem;
    margin: 15px 10px;
  }
}
.sort__link--active {
  border-color: #2596BE;
}
.sort__link:hover {
  text-decoration: none;
  background-color: #e6e6e6;
}

.dropdown {
  position: relative;
  display: inline-block;
  align-self: end;
  margin-right: 20px;
}
.dropdown__content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown__content__element {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown__content__element:hover {
  background-color: #d8d8d8;
}
.dropdown__content:hover {
  cursor: pointer;
}
.dropdown__button {
  width: fit-content;
  align-self: center;
  padding: 0px 15px;
  display: inline-block;
  line-height: 50px;
  color: #FFFFFF !important;
  text-decoration: none !important;
}
.dropdown:hover .dropdown__content {
  display: block;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #d9d9d9;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #FFFFFF;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2596BE;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
input:focus + .slider {
  box-shadow: 0 0 1px #2596BE;
}

.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}

.confirm {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}
.confirm__background {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FFFFFF;
  padding: 20px;
  z-index: 10000;
  border-radius: 5px;
}

.introduction {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  padding: 100px;
  background-color: lightblue !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.5);
  background-position: center center;
}
.introduction__title {
  align-self: center;
  color: #FFFFFF;
  font-size: 6rem;
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
  padding: 0px 10px;
  color: #2596BE;
}
.introduction__text {
  color: #FFFFFF;
  font-size: 1.5rem;
}
.introduction__button {
  width: fit-content;
  align-self: center;
  padding: 0px 15px;
  display: inline-block;
  line-height: 50px;
  color: #FFFFFF !important;
  text-decoration: none !important;
}

.tag {
  margin: 50px 50px 0px 50px;
}
.tag__title-container {
  margin-bottom: 10px;
}
.tag__title {
  font-size: 1.5rem;
  font-weight: 500;
  cursor: pointer;
}
.tag__products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 300px));
  justify-items: start;
  align-items: center;
}
.product-landing {
  cursor: pointer;
  position: relative;
  left: 0;
  transition: left 0.5s ease-in-out;
}

.home {
  display: block;
}
@media screen and (min-width: 750px) {
  .home {
    display: flex;
  }
}

.categories {
  width: 350px;
  background-color: #F0F0F0;
}
.categories__path {
  margin: 10px 0px 0px 10px;
}
.categories__content {
  position: sticky;
  top: 0;
}
.categories__title {
  display: flex;
  justify-content: center;
}
.categories__list {
  display: flex;
  flex-direction: column;
}
.categories__icon {
  height: 25%;
}
@media screen and (max-width: 750px) {
  .categories {
    width: 100%;
  }
}

.category {
  display: flex;
  justify-content: space-around;
  align-content: center;
  height: 70px;
  transition: 0.2s;
  border-radius: 5px;
}
.category__content {
  align-self: center;
}
.category__text {
  min-width: 100px;
  text-decoration: none !important;
}
.category:hover {
  background-color: #d8d8d8;
  transition: 0.2s;
  cursor: pointer;
}

.products-parent {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.products-title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.products-title__image {
  height: 40px;
  margin-right: 10px;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
  grid-gap: 50px;
  flex: 1;
  justify-items: center;
  align-items: center;
  margin-bottom: 50px;
}
@media screen and (max-width: 700px) {
  .products {
    grid-gap: 0px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}

.product-element {
  cursor: pointer;
}
@media screen and (max-width: 700px) {
  .product-element {
    margin-bottom: 50px;
  }
}
.product-element__info {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto;
  align-items: center;
  margin-top: 10px;
}
.product-element__info-name {
  margin: 0px;
  width: 160px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.product-element__info-category {
  color: #828282;
  margin: 0px;
  font-size: 0.9rem;
  width: 160px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.product-element__image {
  display: block;
  width: 200px;
  height: 225px;
  object-fit: cover;
}
.product-element__image--protanopia {
  filter: contrast(1.2) brightness(0.9) saturate(1.1) hue-rotate(45deg);
}
.product-element__image--deuteranopia {
  filter: contrast(1.2) brightness(0.9) saturate(1.1) hue-rotate(-45deg);
}
.product-element__image--acromatopsia {
  filter: contrast(1.5) brightness(1.2);
}
.product-element__image--tritanopia {
  filter: contrast(1.2) brightness(0.9) saturate(1.1) hue-rotate(-75deg);
}
.product-element__cart {
  width: 25px;
  height: 25px;
}

.products-total {
  display: flex;
  justify-content: end;
  margin-right: 20px;
}
.products-total__number {
  color: #828282;
  font-size: 0.9rem;
}

.form-login-register {
  margin-top: 150px;
}

.title-login-register {
  text-align: center;
  color: #2596BE;
  font-size: 40px;
}

p {
  text-align: center;
}

.login-register-link {
  text-decoration: none;
  color: #2596BE;
  font-weight: 600;
}

.buttons {
  display: flex;
  gap: 30px;
}

.content__category, .content__seller {
  font-size: 20px;
  color: #828282;
}
.content__currency {
  font-size: 3.3rem;
}
.content__title {
  margin: 0px;
}
.content__price {
  font-size: 70px;
  font-weight: bold;
  color: #2596BE;
}
.content__add-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  transition: 0.2s;
}
.content__add-cart img {
  width: 25px;
  height: 25px;
}

.details {
  grid-column: 2;
}
.details__description {
  font-size: 15px;
  color: #828282;
}

.image {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  grid-row: 1/span 2;
}
.image img {
  display: block;
  width: 650px;
  height: 600px;
  object-fit: cover;
  transition: 0.2s;
}
.image img__slider {
  position: sticky;
  top: 40px;
}
.image img__slider-image {
  width: 650px;
  height: 500px;
  object-fit: cover;
  transition: 0.2s;
}
.image img__slider-left, .image img__slider-right {
  padding: 5px;
  position: relative;
  top: 290px;
  border-radius: 100%;
  cursor: pointer;
}
.image img__slider-left:hover, .image img__slider-right:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.image img__slider-right {
  left: 590px;
}
.image img__slider-left {
  transform: rotate(180deg);
  left: 0px;
}

.product {
  display: grid;
  grid-template-columns: 5fr 4fr;
  grid-template-rows: repeat(2, auto-fit);
  flex: 1;
  column-gap: 20px;
  row-gap: 80px;
  padding: 0 9%;
  margin-top: 40px;
}

.cart {
  display: none;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr auto auto;
  grid-gap: 40px;
  padding: 0 10%;
}
@media screen and (max-width: 1000px) {
  .cart {
    grid-template-columns: auto;
    grid-template-rows: 1fr auto auto;
  }
}
.cart--enable {
  display: grid;
}
.cart__header {
  grid-column: 1/span 2;
  grid-row: 1;
}
.cart__header-products {
  color: #828282;
}
.cart__product-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.cart__product-spinner {
  display: block;
  width: 100%;
}
.cart__product-spinner--disable {
  display: none;
}
.cart__summary {
  display: flex;
  flex-direction: column;
  height: 300px;
  padding: 20px;
  position: sticky;
  top: 50px;
  border: 1px solid #b5b5b5;
  border-radius: 3px;
}
.cart__summary-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #b5b5b5;
}
@media screen and (max-width: 1000px) {
  .cart__summary {
    grid-column: 1;
    grid-row: 3;
  }
}

.product-item {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-gap: 15px;
  border: 1px solid #b5b5b5;
  border-radius: 3px;
}
.product-item__image-product {
  display: block;
  width: 200px;
  height: 225px;
  object-fit: cover;
}
.product-item__image-product-link {
  grid-column: 1;
  grid-row: 1/span 2;
}
.product-item__image-trash {
  width: 24px;
  height: 24px;
  margin: 5px;
  grid-column: 3;
  grid-row: 1;
  transition: 0.3s;
}
.product-item__image-trash:hover {
  transition: 0.3s;
  cursor: pointer;
  filter: invert(22%) sepia(97%) saturate(5193%) hue-rotate(355deg) brightness(104%) contrast(132%);
}
.product-item__name-link {
  grid-column: 2;
  grid-row: 1;
}
.product-item__price {
  grid-column: 2;
  grid-row: 2;
}

.error {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.error__code {
  font-size: 10rem;
  margin-bottom: 0px;
  color: #d9d9d9;
}

.suggested {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.chat-parent {
  display: grid;
  flex-direction: column;
}

.chat {
  flex: 1;
  display: grid;
  gap: 15px;
  width: 80%;
  justify-self: center;
  margin: 20px 0px;
}
.chat__message {
  border-radius: 5px;
  padding: 5px 10px;
  margin: 10px;
  width: fit-content;
  max-width: 75%;
}
.chat__message--user {
  background-color: #cceeff;
  justify-self: end;
}
.chat__message--other {
  background-color: #f8f4f4;
}

.chat-info {
  height: 70px;
  background-color: #f8f4f4;
  display: flex;
  align-items: center;
  justify-content: center;
}
.chat-info__input {
  height: 60%;
  width: 80%;
  display: flex;
}
.chat-info__text {
  background-color: #FFFFFF;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  padding-left: 15px;
  border: none;
}

.editor {
  margin: 50px 10%;
}
.editor section {
  border-top: 1px solid #b5b5b5;
  padding: 20px 0px;
}
.editor__password-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 20px;
}
.editor__password-save {
  grid-column: 3;
}
.editor__state-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 20px;
}
.editor__state-save {
  grid-column: 3;
}
.editor__state-item {
  justify-self: center;
}
.editor__state-enable {
  grid-column: 2/4;
}
.editor__shop-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 15%;
}
.editor__shop-save {
  grid-column: 2;
}
.editor__data {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: min-content 1fr min-content;
  grid-column-gap: 15%;
}
.editor__data-logout {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0px;
  padding: 10px;
  height: 40px;
  min-width: 130px;
  justify-self: end;
  border: none;
  border-radius: 2px;
  outline: 1px solid #d2170e;
  color: #d2170e !important;
  background-color: transparent;
  cursor: pointer;
  transition: 0.1s;
}
.editor__data-logout:hover {
  background-color: #d2170e;
  color: white !important;
  outline-color: #d2170e;
}
.editor__data__name {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr;
}
.editor__data__logo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 2fr;
}
.editor__data__logo-label {
  grid-column: 1/span 2;
}
.editor__data__logo-image {
  width: 100px;
  height: 100px;
}
.editor__data__logo-upload {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  align-self: center;
  cursor: pointer;
}
.editor__data__logo-upload-image {
  width: 20px;
  height: 20px;
}
.editor__data__logo-upload-label {
  cursor: pointer;
}
.editor__data__logo-trash {
  width: 24px;
  height: 24px;
  margin: 5px;
  transition: 0.3s;
}
.editor__data__logo-trash:hover {
  transition: 0.3s;
  cursor: pointer;
  filter: invert(22%) sepia(97%) saturate(5193%) hue-rotate(355deg) brightness(104%) contrast(132%);
}
.editor__data-save {
  grid-column: 2;
}
.editor__data-details {
  grid-column: 3;
}
.editor__input {
  height: 40px;
  border: none;
  border-radius: 2px;
  font-size: 16px;
  padding: 10px 15px;
  outline: 1px solid rgb(205, 205, 205);
  background-color: rgb(233, 233, 233);
  color: #828282;
  transition: 0.1s;
}
.editor__input:focus {
  background-color: transparent;
  outline-color: rgb(122, 122, 122);
}
.editor__save {
  margin: 10px 0px;
  padding: 10px;
  width: 130px;
  height: 40px;
  justify-self: end;
  border: none;
  border-radius: 2px;
  outline: 1px solid #2596BE;
  color: #2596BE;
  background-color: transparent;
  cursor: pointer;
  transition: 0.1s;
}
.editor__save--accept {
  color: #85e085;
  outline: 1px solid #85e085;
}
.editor__save--accept:hover {
  background-color: #85e085 !important;
}
.editor__save--deny {
  color: #d2170e;
  outline: 1px solid #d2170e;
}
.editor__save--deny:hover {
  background-color: #d2170e !important;
}
.editor__save:hover {
  background-color: #2596BE;
  color: white;
}

input[type=file] {
  display: none;
}

.order {
  border: 1px solid #b5b5b5;
  border-radius: 5px;
  padding: 30px;
  margin-bottom: 40px;
}
.order__vendor {
  margin: 40px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 900px) {
  .order__vendor {
    flex-direction: column;
  }
}
.order__vendor__product {
  display: flex;
  margin: 20px 0px;
}
.order__vendor__product-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 10px;
}
.order__vendor__separator {
  border: 1px solid #b5b5b5;
}

/*# sourceMappingURL=styles.css.map */
