// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Font family
/// @type List
$text-font-stack: "Open Sans", "Helvetica Neue Light", "Helvetica Neue",
    "Helvetica", "Arial", sans-serif !default;



/// Prueba
/// @type Color
$prueba: #EEEEEE !default;

/// Footer
/// @type Color
$footer-color: #2D3339 !default;



/// Container's maximum width
/// @type Length
$max-width: 1180px !default;



/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
    "small": 320px,
    "medium": 768px,
    "large": 1024px,
) !default;



/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'https://cdn.example.com/assets/';
$base-url: "/assets/" !default;
