// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Font family
/// @type List
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
$text-font-stack: "Poppins", Arial, sans-serif !default;

/// Primary
/// @type Color
$primary-color: #FFFFFF !default;

/// Complementary
/// @type Color
$complementary-color: #F0F0F0 !default;

/// Secondary
/// @type Color
$secondary-color: #2596BE !default;

/// Tertiary
/// @type Color
$tertiary-color: #828282 !default;

/// Border
/// @type Color
$border-color: #b5b5b5 !default;

/// Tertiary
/// @type Color
$hover-color: #0a6c8f !default;

/// Footer
/// @type Color
$footer-color: #2D3339 !default;



/// Container's maximum width
/// @type Length
$max-width: 1180px !default;



/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
    "small": 320px,
    "medium": 768px,
    "large": 1024px,
) !default;



/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'https://cdn.example.com/assets/';
$base-url: "/assets/" !default;
