// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Font family
/// @type List
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
$text-font-stack: "Poppins", Arial, sans-serif !default;

/// Primary
/// @type Color
$primary-color: #FFFFFF !default;

/// Complementary
/// @type Color
$complementary-color: #F0F0F0 !default;

/// Secondary
/// @type Color
$secondary-color: #2596BE !default;

/// Tertiary
/// @type Color
$tertiary-color: #828282 !default;

/// Border
/// @type Color
$border-color: #b5b5b5 !default;

/// Hover
/// @type Color
$hover-color: #0a6c8f !default;

/// Hover 2
/// @type Color
$hover2-color: #e6e6e6 !default;

/// Hover 3
/// @type Color
$hover3-color: #d8d8d8 !default;

/// Footer
/// @type Color
$footer-color: #2D3339 !default;

/// Not found
/// @type Color
$not-found-color: #d9d9d9 !default;

/// Correct
/// @type Color
$correct-color: #85e085 !default;

/// Incorrect
/// @type Color
$incorrect-color: #d2170e !default;

/// Chat
/// @type Color
$chat-color: #f8f4f4 !default;

/// Message
/// @type Color
$message-color: #cceeff !default;

/// Overlay
/// @type Color
$overlay-color: rgba(0, 0, 0, 0.5) !default;



/// Primary Filter
/// @type Filter
$primary-filter: invert(46%) sepia(100%) saturate(365%) hue-rotate(149deg) brightness(91%) contrast(91%) !default;

/// Incorrect Filter
/// @type Filter
$incorrect-filter: invert(22%) sepia(97%) saturate(5193%) hue-rotate(355deg) brightness(104%) contrast(132%) !default;



/// Container's maximum width
/// @type Length
$max-width: 1180px !default;



/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
    "small": 320px,
    "medium": 768px,
    "large": 1024px,
) !default;



/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'https://cdn.example.com/assets/';
$base-url: "/assets/" !default;
