// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.header {
    height: 70px;
    box-shadow: 0 4px 10px -4px rgba(30, 30, 30, 0.5);
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: height 0.3s, opacity 0.3s;

    &--hidden {
        height: 0;
        opacity: 0;
    }

    &__logo {
        width: auto;
        height: 80%;
        margin-left: 10px;

        @media screen and (max-width: 900px) {
            display: none;
        }

        &--mobile {
            display: none;
            height: 70%;

            @media screen and (max-width: 900px) {
                display: block;
            }
        }
    }
}

.items {
    display: flex;
    height: 100%;
    align-items: center;
    margin-right: 20px;
}

.item {
    height: 50%;
    margin: 0 20px;
}

.search-bar {
    background-color: $complementary-color;
    border: none;
    border-radius: 25px;
    height: 40px;
    padding: 20px;
    // background-image: url("/images/search.png");
    // background-repeat: no-repeat;
    // background-size: 5%;
}

.item-link {
    display: flex;
    align-items: center;
    height: 100%;

    &--hidden {
        display: none;

        @media screen and (max-width: 900px) {
            display: flex;
        }
    }
}

.stored-products {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $secondary-color;
    border-radius: 100%;
    width: 20px;
    height: 20px;
}
